{% extends 'blog/blog_list.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-6">

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Тема рассылки: {{ mailing.message }}</h4>
                </div>
                <div class="card-body">
                    <p class="text-start">Текст рассылки: {{ mailing.message.body }}</p>
                    <p class="text-start">Дата отправки рассылки: {{ mailing.send_date }}</p>
                    <p class="text-start">Дата повтора рассылки: {{ mailing.next_send_date }}</p>
                    <p class="text-start">Дата создания рассылки: {{ mailing.create_date }}</p>
                    <p class="text-start">Дата обновления рассылки: {{ mailing.update_date }}</p>
                    <p class="text-start">Интервал рассылки: {{ mailing.interval }}</p>
                    <h1 class="card-title pricing-card-title"></h1>
                    <div class="btn-group">
                        {% if user == mailing.user %}
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'mailing:mailing_edit' mailing.pk %}"
                           role="button">Изменить</a>

                        <a class="btn btn-sm btn-outline-danger" href="{% url 'mailing:mailing_delete' mailing.pk %}"
                           role="button">Удалить</a>
                        {% endif %}
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'mailing:mailing_list' %}"
                           role="button">Назад</a>
                    </div>
                </div>
                {% if mailing.is_active %}
                <p class="card-footer"> Рассылка активна </p>
                {% else %}
                <p class="card-footer"> Рассылка неактивна </p>
                {% endif %}

            </div>
        </div>
    </div>
    {% endblock %}
