{% extends 'blog/blog_list.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% if perms.mailing.add_mailing %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
        {% endif %}

        <div class="pb-4"></div>


        {% for mailing in object_list %}

        <div class="col-4">
            {% if mailing.is_active %}
            <div class="card border-success mb-4">
                <div class="card-header text-success">
                    <h4 class="my-0 font-weight-normal">Тема рассылки: {{ mailing.message }}</h4>
                </div>
                <div class="card-body text">
                    <p class="text-start">Текст рассылки: {{ mailing.message.body | slice:100 }}</p>
                    <p class="text-start">Дата отправки рассылки: {{ mailing.send_date }}</p>
                    <p class="text-start">Дата создания рассылки: {{ mailing.create_date }}</p>
                    <p class="text-start">Дата обновления рассылки: {{ mailing.update_date }}</p>
                    <p class="text-start">Дата окончания рассылки: {{ mailing.end_date }}</p>
                    <p class="text-start">Интервал рассылки: {{ mailing.interval }}</p>
                    <p class="text-start">Статус рассылки: {{ mailing.status }}</p>
                    <h1 class="card-title pricing-card-title"></h1>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary"
                           href="{% url 'mailing:mailing_detail' mailing.pk %}"
                           role="button">Подробно</a>
                    </div>
                    {% if perms.mailing.can_edit_is_active_mailing or user == mailing.user %}
                    <a class="btn btn-sm btn-outline-warning"
                       href="{% url 'mailing:toggle_activity_mailing' mailing.pk %}"
                       role="button">Деактивировать</a>
                    {% endif %}
                </div>
                <p class="card-footer text-success"> Рассылка активна </p>
            </div>
            {% else %}
            <div class="card border-warning mb-4">
                <div class="card-header text-warning">
                    <h4 class="my-0 font-weight-normal">Тема рассылки: {{ mailing.message }}</h4>
                </div>
                <div class="card-body text">
                    <p class="text-start">Текст рассылки: {{ mailing.message.body | slice:100 }}</p>
                    <p class="text-start">Дата отправки рассылки: {{ mailing.send_date }}</p>
                    <p class="text-start">Дата создания рассылки: {{ mailing.create_date }}</p>
                    <p class="text-start">Дата обновления рассылки: {{ mailing.update_date }}</p>
                    <p class="text-start">Дата окончания рассылки: {{ mailing.end_date }}</p>
                    <p class="text-start">Интервал рассылки: {{ mailing.interval }}</p>
                    <p class="text-start">Статус рассылки: {{ mailing.status }}</p>
                    <h1 class="card-title pricing-card-title"></h1>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary"
                           href="{% url 'mailing:mailing_detail' mailing.pk %}"
                           role="button">Подробно</a>
                    </div>
                    {% if perms.mailing.can_edit_is_active_mailing or user == mailing.user%}
                    <a class="btn btn-sm btn-outline-success"
                       href="{% url 'mailing:toggle_activity_mailing' mailing.pk %}"
                       role="button">Активировать</a>
                    {% endif %}
                </div>
                <p class="card-footer text-warning"> Рассылка неактивна</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <form method="POST" action="{% url 'mailing:call_custom_command' 1 %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Выполнить единичную рассылку</button>
            </form>
            <form method="POST" action="#">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Запустить автоматическкую рассылку</button>
            </form>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}